* {
    box-sizing: border-box;
}
.container {
    background-color: rgb(129, 149, 209);
    color: black;
    font-family: 'Questrial', sans-serif;
}
a, a:visited {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 20px 15px;
    border: 2px solid black;
    background-color: rgb(132, 201, 132);
    border-radius: 17px;
}
a:hover {
    background-color: aqua;
}
#placeholder {
    font-size: 120px;
    margin: 100px;
    color: indigo;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.footer {
    font-size: 15px;
    background-color: gray;
    padding: 10px 20px;
    text-align: center;
}
#about_text{
    width: 600px;
    border: 2px black;
}
#bongoCat{
    font-family: 'Monoton', cursive;
    color: rgb(216, 37, 37)
}
#fontHolder{
    font-family: 'Nunito Sans', sans-serif;
}