.container {
    background-color: aquamarine
}
a:link a:visited {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 20px 15px;
}
a:hover {
    background-color: aqua;
}
#placeholder {
    font-size: 200px;
    margin: auto;
    color: indigo;
}
.footer {
    font-size: 10px;
    background-color: gray;
    padding: 10px 20px;
}