* {
    box-sizing: border-box;
}
.container {
    background-color: rgb(39, 49, 187);
    color: white;
    font-family: 'Questrial', sans-serif;
}
a, a:visited {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 20px 15px;
    border: 2px solid black;
    background-color: gray;
    border-radius: 5px;
    color: white;
}
a:hover {
    background-color: aqua;
}
#placeholder {
    font-size: 120px;
    margin: 100px;
    color: indigo;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.footer {
    font-size: 15px;
    background-color: gray;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}
#about_text{
    width: 600px;
    border: 2px black;
}
#bongoCat{
    font-family: 'Monoton', cursive;
    color: rgb(216, 37, 37);
    margin-left: 100px;
}
iframe {
    margin-left: 100px;
}
.photos {
    border: 2px solid black;
    margin: 20px;
}
#fontHolder{
    font-family: 'Nunito Sans', sans-serif;
}